.portfolio-section {
    padding-top: 94px;
}

.main-portfolio-section {
    background-color: getColor('white-color');

    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
