.portfolio-section {
    padding-top: 94px;
}

.main-portfolio-section {
    background-color: getColor('white-color');

    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 60px;

    @media screen and(min-width:1200px) {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}
