/* основной цвет фона #E5E5E5 */

/* вторичный цвет фона #F5F4FA */

/* основной цвет текста Roboto 500 #212121 */

/* вторичный цвет текста Roboto 400 #757575 */

/* цвет при наведении(active) #2196F3 */

/* белый цвет текста #FFFFFF */

/* ======================================== Header Section =================================== */

/* ============================== Hero-section =============================== */

/* ================================ Что мы делаем =========================== */

/* ========================================== Чем мы занимаемся ==================================== */

/*=================================== ourteam-section ========================== */

/*  ============================== Our Clients ========================== */

/* .clients-links.icon-first {
    background-image: url('../images/ya&co-logo.svg');
}
.clients-links.icon-second {
    background-image: url('../images/second-comapny-logo.svg');
}
.clients-links.icon-third {
    background-image: url('../images/third-company-logo.svg');
}
.clients-links.icon-fourth {
    background-image: url('../images/foster-logo-icon.svg');
}
.clients-links.icon-fifth {
    background-image: url('../images/brand-logo-icon.svg');
}
.clients-links.icon-sixth {
    background-image: url('../images/sixth-logo.svg');
} */
/* ======================footer section starts====================== */

/* .footer-section-links.insta {
    background-image: url('../images/instagram-footer.svg');
}
.footer-section-links.twitter {
    background-image: url('../images/twitter-footer.svg');
}
.footer-section-links.facebook {
    background-image: url('../images/facebook-footer.svg');
}
.footer-section-links.linkedin {
    background-image: url('../images/linkedin-footer.svg');
} */

/* ======================footer section ends====================== */

/* ========================= portfolio starts ========================= */

/*=================== filter-list-section=================== */

/* .filter-list-img {
    z-index: 10;
} */

/* ========================= portfolio ends ========================= */

/* ============================= backdrop ============================== */
