.examples {
    @media screen and(max-width:1199px) {
        display: none;
    }
}

@include for-desktop {
    .examples {
        background-color: $white-color;
        padding-top: 0;
    }

    .examples__title {
        text-align: center;
        margin-bottom: 50px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;

        color: $primary-text-color;
    }

    .examples__list {
        @include centeredFlex($jfc: space-between);
        flex-direction: row;
    }

    .examples__thumb {
        position: relative;
    }
    .examples__descPosition {
        @include centeredFlex;
        position: absolute;
        width: 100%;
        height: 70px;
        background: rgba(47, 48, 58, 0.8);
        bottom: 0;
        left: 0;
    }

    .examples__description {
        color: $white-color;
        font-weight: bold;
        font-size: 14px;
        line-height: 1.142;
        text-transform: uppercase;
    }
}
