.section-hero {
    padding-top: 0;
    padding-bottom: 0;
    // width: 100%;
    background-color: #c4c4c4;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../../../images/background-image/mobile-min.jpg');

    @include for-tablet-landscape {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url('../../../images/background-image/tablet-min.jpg');
    }

    @include for-desktop {
        max-width: 1600px;
        // width: 100%;
        // height: 600px;

        background-color: #c4c4c4;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url('../images/background-image/desktop-min.jpg');

        // background-size: 1600px 600px;
    }
}

@media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .section-hero {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url('../../../images/background-image/mobile@2x-min.jpg');

        @include for-tablet-landscape {
            background-image: linear-gradient(
                    to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)
                ),
                url('../../../images/background-image/tablet@2x-min.jpg');
        }

        @include for-desktop {
            max-width: 1600px;
            // width: 100%;
            // height: 600px;
            background-color: #c4c4c4;
            background-image: linear-gradient(
                    to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)
                ),
                url('../../../images/background-image/desktop@2x-min.jpg');
            // background-size: 1600px 600px;
        }
    }
}

.hero {
    text-align: center;

    padding-top: 118px;
    padding-bottom: 128px;

    @include for-desktop {
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

.hero__title {
    color: getColor('white-color');
    font-weight: 900;
    font-size: 26px;
    line-height: 1.615;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;

    @include for-desktop {
        font-size: 44px;
        line-height: 1.36;
    }
}

.hero__button {
    @include buttonBasic;
    text-align: center;
    padding: 10px 32px;
    border: transparent;

    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    transition: background-color 250ms $cubic, transform 250ms $cubic;
    transform-style: preserve-3d;
    &:focus,
    &:hover {
        background: #188ce8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
    &:active {
        transform: translateY(0.05rem);
    }
}
