.our-concept-section {
    background-color: getColor('white-color');

    align-items: center;
}

.container {
    @include for-tablet-landscape {
        margin-left: auto;
        margin-right: auto;
    }
}

.our-concept__container {
    @media screen and (max-width: 1199px) {
        padding-bottom: 60px;
        padding-top: 60px;
    }
}
.our-concept {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: -15px;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

.our-concept__item {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        flex-basis: calc((100% - 2 * 30px) / 2);
        margin: 15px;
    }
}
.our-concept__icon-container {
    @include centeredFlex;
    margin-bottom: 30px;

    border-radius: 4px;
    background-color: $secondary-bcg-color;
    width: 100%;
    height: 120px;
}
.our-concept__item:not(:first-child) {
    @include for-mobile-only {
        margin-top: 30px;
    }
    @include for-desktop {
        margin-left: 30px;
    }
}

.our-concept__subtitle {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.15;
    text-transform: uppercase;
    color: $primary-text-color;
    margin-bottom: 10px;
    text-align: center;

    @include for-tablet-landscape {
        text-align: start;
    }
}

.our-concept__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    color: $secondary-text-color;
}
