.clients {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

.clients__title {
    font-weight: bold;
    font-size: 28px;
    line-height: 1.17;

    margin-bottom: 50px;
    color: getColor('primary-text-colo');
}

.clients__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.clients__item {
    height: 92px;
    margin: 15px;
    flex-basis: calc((100% - 2 * 30px) / 2);

    @include for-tablet-landscape {
        flex-basis: calc((100% - 3 * 30px) / 3);
    }
}
.clients__svg {
    fill: $icon-silent-color;
    transition: fill 250ms $cubic;
}
.clients__links {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #afb1b8;
    border-radius: 4px;
    width: 100%;
    height: 100%;

    transition: border-color 250ms $cubic, transform 250ms $cubic;
    &:hover,
    &:focus {
        border-color: $active-color;
    }

    &:hover .clients__svg,
    &:focus .clients__svg {
        fill: $active-color;
    }
    &:active .clients__svg {
        transform: scale(0.95);
    }
}
