.contact-list {
    margin-top: 302px;
    @media screen and(min-width: 768px) {
        margin-top: 0;
        margin-left: 84px;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: space-between;
    }
}
.contact-list__item:nth-child(2) {
    @media screen and(max-width: 767px) {
        margin-top: 32px;
    }

    @media screen and(min-width: 768px) {
        margin-bottom: 10px;
    }
}

.contact-list__link {
    @media screen and(max-width: 767px) {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.02em;
        color: getColor('secondary-text-color');
    }

    @media screen and(min-width: 768px) {
        display: flex;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.142;
        letter-spacing: 0.02em;
        color: getColor('secondary-text-color');

        transition: color 250ms $cubic;

        &:hover {
            color: $active-color;
        }
        &:active {
            color: $active-color;
        }
    }
}

.contact-list__link--phone-color {
    @media screen and(max-width: 767px) {
        color: getColor('focus-color');
        font-weight: 500;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 0.02em;
    }
}

.contact-list__icon {
    @media screen and(max-width:767px) {
        display: none;
    }
    @media screen and(min-width: 768px) {
        margin-right: 8px;
        fill: getColor('secondary-text-color');
    }
}
