.section-header {
    background-color: var(--white-color);
    padding-bottom: 0;
    padding-top: 0;
    border-bottom: 1px solid #ececec;
    @media screen and(max-width:767px) {
        position: relative;
    }
}

.site-nav {
    @include centeredFlex($jfc: space-between);
}

.header-container {
    margin-left: auto;
    margin-right: auto;
}

.site-nav__container {
    background-color: getColor('white-color');

    @media screen and(max-width:767px) {
        padding: 48px 40px;
        box-sizing: border-box;
        max-width: 767px;
        width: 100vw;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 0;
        transform: translateY(-100%);
        transition: opacity 250ms $cubic, transform 250ms $cubic;
        &.nav-menu--is-open {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @media screen and(min-width:768px) {
        display: flex;
    }
}
