.nav-menu {
    color: $primary-text-color;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;

    @media screen and(max-width: 767px) {
        margin-left: 40px;
        margin-top: 48px;
    }
}

.nav-menu__link {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;

    letter-spacing: 0.02em;

    color: $primary-text-color;
    text-decoration: none;
    outline: none;
}

.nav-menu__item:not(:last-child) {
    margin-bottom: 32px;
}

.nav-menu__button {
    display: inline-flex;
    margin-left: auto;

    fill: getColor('primary-text-color');
    @extend %button-style-reset;
}

.nav-menu__burger {
    .nav-menu__button.nav-menu--is-open & {
        display: none;
    }
}
.nav-menu__cross {
    display: none;
    .nav-menu__button.nav-menu--is-open & {
        display: inline-block;
        z-index: 90;
        position: absolute;
        top: 11px;
        right: 26px;
    }
}
