%color-bcgc {
    color: tomato;
    background-color: aquamarine;
}

%logo-style {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

%button-style-reset {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
