$primary-bcg-color: #e5e5e5;
$secondary-bcg-color: #f5f4fa;
$footer-bcg-color: #2f303a;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$white-color: #ffffff;
$active-color: #2196f3;
$focus-color: #2196f3;
$icon-silent-color: #afb1b8;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$btn-shadow-color: #188ce8;
$card-set-gap: 30px;
