.contact-list {
    display: flex;
    margin-left: auto;
}
.contact-list__item {
    display: flex;
    align-items: center;
}
.contact-list .contact-list__item + .contact-list__item {
    margin-left: 50px;
}
.contact-list__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: $primary-text-color;

    transition: color 250ms $cubic;

    &:hover {
        color: $active-color;
    }
    &:active {
        color: $active-color;
    }
}

.contact-list__icon {
    margin-right: 10px;
    fill: currentColor;
}
