.modal {
    background-color: getColor('white-color');

    @include for-mobile-only {
        padding: 40px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        max-width: 450px;
    }

    @include for-tablet-landscape {
        position: absolute;
        top: 50%;
        left: 50%;

        width: 528px;

        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;

        transform: translate(-50%, -30%) scale(1) perspective(400px) rotateX(0);
    }
    @include for-desktop {
        top: 50%;
        left: 50%;
    }

    transition: transform 1000ms $cubic, rotate 1000ms $cubic 500ms;
}

.modal__closeBtn {
    content: '';
    position: absolute;
    top: 8px;
    right: 8px;

    @include centeredFlex;

    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid $icon-silent-color;
    background-color: getColor('white-color');

    transition: fill 250ms $cubic;

    &:hover,
    &:focus {
        fill: getColor('active-color');
    }
    @include for-desktop {
        top: 8px;
        right: 8px;
    }
}
